    <br><br><br><br><div class="container-fluid" style="position: relative;;">

        <div class="row">
            <div class="col-12 col-sm-3">

            </div>
            <div class="col-12 col-sm-6">
                <form method="POST" action="/getdata">
                    <div class="input-group input-group-lg mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Name</span>
                            </div>
                                <input type="text" class="form-control" placeholder="Your Full Name" required>
                            </div>
                       
                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Email</span>
                                </div>
                                    <input type="text" class="form-control" placeholder="Your Email" required>
                        </div>

                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Address</span>
                                </div>
                                    <textarea class="form-control" placeholder="Your Address" required></textarea>
                        </div>
                        <div class="input-group input-group-lg mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Phone</span>
                                </div>
                                    <input type="tel" pattern="^[6789]{1}[0-9]{9}$" class="form-control" placeholder="Your Mobile Number" required>
                        </div>

  
                        <button type="submit" class="btn btn-warning btn-lg">SUBMIT</button><br/><br>
                   

                </form>    
            </div>
            <div class="col-12 col-sm-3">

            </div>
        </div>
</div>